.Content {
    width: 75%;
    float: left;
}

.Cart {
    width: 23%;
    float: right;
    margin: 10px;
    text-align: center;
    background-color: #e9eff3;
    min-height: calc(100vh - 105px);;
}

@media ( max-width: 768px) {
    .Content {
      width: 100%;
    }
  }

  @media ( max-width: 768px) {
    .Cart {
      width: 100%;
    }
  }