.Content {
    flex-direction: column;
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 10px;
}

.Imgbox {
    width: 223px;
    height: 223px;
    text-align: center;
}

.Imgbox img {
    max-width: 100%;
    max-height: 100%;
}

.ItemName {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    color: #111111;
    padding-top: 20px;
}

.ItemName:hover {
    color: #c45500;
}

.ItemSeller {
    color: #555555;
    font-size: 13px;
    line-height: 19px;
}

.ItemPrice {
    color: #111;
    line-height: normal;
    padding-top: 10px;
    font-size: 21px;
}

@media ( max-width: 768px) {
    .Content {
      flex-basis: 34%;
    }
  }
  
  @media ( max-width: 320px) {
    .Content {
      flex-basis: 51%;
    }
  }