.Content {
    /* width: 200px; */
    height: 300px;
    flex-direction: column;
    flex: 1 0 21%;
    border: 2px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

@media ( max-width: 768px) {
    .Content {
      flex-basis: 34%;
    }
  }
  
  @media ( max-width: 320px) {
    .Content {
      flex-basis: 51%;
    }
  }